.branding-panel{

    flex:1;

    background:#3D5A80;

    color:white;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:20px;

}

.logo{

    display:flex;

    align-items:center;

    gap:15px;

}

.logo-icon{

    width:60px;

    height:60px;

    border-radius:50%;

    background:white;

    color:#3D5A80;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:bold;

}

.branding-panel h2{

    font-size:2rem;

    text-align:center;

}

.branding-panel p{

    width:70%;

    text-align:center;

}